<div class="commentContent">
    <div id="vcomments"></div>
</div>

<script type="text/javascript">
    loadComments();
    function loadComments() {
        if (typeof Valine === 'undefined') {
            var getScript = (options) => {
                var script = document.createElement('script');
                script.defer = true;
                script.crossOrigin = 'anonymous';
                Object.keys(options).forEach((key) => {
                    script[key] = options[key];
                });
                document.body.appendChild(script);
            };
            getScript({
                src: 'https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js',
                onload: () => {
                    newValine();
                }
            });
        } else {
            newValine();
        }
    }
    function newValine() {
        new Valine({
            el: '#vcomments',
            appId: '2PxUtDhPD5uIuwzRFTeWzPB9-gzGzoHsz',
            appKey: 'dWRMvJMEe4zSRJOYDPgeF0at',
            placeholder: '推荐有趣的网站吧~',
            avatar: 'wavatar',
            meta: ['nick'],
            requiredFields: ['nick']
        });
    }
</script>