{% if site.isDev == false %}
<div class="link_item">
    <div class="content">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-en-1a-4v+33+kw"
            data-ad-client="ca-pub-7449030832054941" data-ad-slot="6566704353"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
{% endif %}