header .logo{
    margin-top: 80px;
}

header input {
    display: none;
} 

header label {
    display: none;
}

header nav ul{
    margin-left: 20px;
    display: block;
    overflow: hidden;
    margin-top: 50px;
    list-style: none;
}

header nav ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

header nav ul li .icon {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 8px;
}

header nav ul li svg {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
}

header nav ul li a {
    margin-left: 10px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
}

header nav ul li a:hover,
header nav ul li a.selected{
    color: var(--title-text-color);
}

header .footer{
    position: absolute;
    bottom: 15px;
}

header .rights p{
    color: var(--text-color);
    font-size: 11px;
    letter-spacing: 1px;
}

@media (max-width:1024px){

    header .logo{
        float: left;
        margin: 40px 0 0 30px;
    }
    
    header .footer{
        display: none;
    }

    header input {
        display: none;
    } 

    header label {
        display: block;
        float: right;
        margin: 35px 30px 0 0;
    }

    header label img{
        width: 40px;
        height: 40px;
    }

    header nav{
        padding-top: 20px;
        width: 100%;
        z-index: 9999;
    }

    header nav ul{
        list-style: none;
        position: relative;
        width: 100%;
        margin-left: 0px;
    }

    header nav ul li {
        margin-bottom: 0px;
    }

    header nav ul li .icon {
        display: none;
    }

    header nav ul li a{
        display: block;
        width: 100%;
        margin-left: 0px;
        padding: 25px 0;
        text-align: center;
        color: var(--text-color);
        font-size: 16px;
        text-decoration: none;
        border-bottom: 1px solid var(--border-color);
        
    }

    :checked ~ nav {
        display: none;
    }
}
