
.wrapper{
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.content{
    padding-top: 3rem;
    color: #4b4848;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.content h1 {
    margin-bottom: 30px;
    font-size: 28px;
}

.content p{
    color: #4b4848;
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 15px;
}

.wrapper .commentContent {
    margin-top: 3rem;
    max-width: 880px;
}