
.wrapper{
    width: 95%;
    margin: 0 auto;
}

.content{
    color: #4b4848;
    padding: 40px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.content h1 {
    margin-bottom: 30px;
    font-size: 28px;
}

.content p{
    color: #4b4848;
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 15px;
}

.wrapper .commentContent {
    width: 80%;
    padding: 40px 20px;
}